@mixin dropshadow() {
  -webkit-box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.25);
}

@mixin dropshadow-thin() {
  -webkit-box-shadow: 4px 4px 6px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 6px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 6px -5px rgba(0, 0, 0, 0.75);
}

@mixin nodropshadow() {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@mixin raleway() {
  font-family: "Raleway", sans-serif;
}

@mixin montserrat() {
  font-family: "Montserrat", sans-serif;
}

@mixin serif() {
  font-family: "big-caslon-fb", serif;
}

@mixin acumin() {
  font-family: "acumin-pro-extra-condensed", sans-serif;
}

@mixin gradient() {
  background: -moz-linear-gradient(
    -6.11% 467.88% 90deg,
    rgba(253, 253, 254, 0) 0%,
    rgba(253, 253, 254, 0.91) 91.04%,
    rgba(253, 253, 254, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(253, 253, 254, 0) 0%,
    rgba(253, 253, 254, 0.91) 91.04%,
    rgba(253, 253, 254, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    -6.11% 467.88%,
    -6.11% 44.19%,
    color-stop(0, rgba(253, 253, 254, 0)),
    color-stop(0.9104, rgba(253, 253, 254, 0.91)),
    color-stop(1, rgba(253, 253, 254, 1))
  );
  background: -o-linear-gradient(
    90deg,
    rgba(253, 253, 254, 0) 0%,
    rgba(253, 253, 254, 0.91) 91.04%,
    rgba(253, 253, 254, 1) 100%
  );
  background: -ms-linear-gradient(
    90deg,
    rgba(253, 253, 254, 0) 0%,
    rgba(253, 253, 254, 0.91) 91.04%,
    rgba(253, 253, 254, 1) 100%
  );
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFE', endColorstr='#FDFDFE' ,GradientType=0)";
  background: linear-gradient(
    0deg,
    rgba(253, 253, 254, 0) 0%,
    rgba(253, 253, 254, 0.91) 91.04%,
    rgba(253, 253, 254, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFE',endColorstr='#FDFDFE' , GradientType=0);
}

@function _trim($string) {
  @return str-slice(#{$string}, 2, -1);
}
