#footer {
    padding: 4em 0;

    span.title {
        font-weight: 600;
        margin-bottom: 1em;
        display: block;
    }

    .btn {
        padding-left: 5em;
        padding-right: 5em;
    }
}
 
 .sub-footer {
     background: $sherpa-dark-color;
     color: $white;
     padding: 1em 0;

     .container-fluid {
         max-width: 1600px;
     }

     p {
         margin-bottom: 0;
     }

     .col {
         display: flex;
         align-items: center;
     }

     .social-media {
         flex-direction: row;
         display: flex;
         margin-bottom: 0;

         li:first-child a {
             margin-left: 0;
         }
         

         li a {
             color: $white;
             margin: 0 10px;
         }
     }

     .col:last-child {
         justify-content: flex-end;
         display: flex;
     }
 }