.home-module-2 {
  overflow: hidden;

  .col {
    padding-top: 280px;
  }

  a {
    color: $sherpa-brand-primary;
  }

  h2 {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;

    strong {
      color: $sherpa-brand-primary;
    }

    span {
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      display: block;
      margin-top: .5em;
    }
  }

  ul.arrows {
    list-style: none;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 3em;

    &.columns {
      column-count: 2;
    }

    li span::before {
      content: "";
      @include svg-arrows();
      background-repeat: no-repeat;
      width: 10px;
      height: 10px;
      display: block;
      position: absolute;
      left: 0;
      top: 0.5em;
    }

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 1em;
    }
  }

  .col:last-child {
    position: relative;

    ul.arrows {
      padding-left: 2.5em;
    }

    .extra-padding {
      padding-left: 5em;
    }

    &::before {
      background: #f4f4f4;
      content: "";
      position: absolute;
      width: 100vw;
      top: 0;
      display: block;
      height: 100%;
      z-index: -1;
    }
  }
}
