.home-module-2 {
  overflow: hidden;

  .col {
    padding-top: 250px;
  }

  h2 {
    font-size: 35px;

    span {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      display: block;
      margin-top: 1em;
    }
  }

  ul.arrows {
    list-style: none;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 3em;

    li span::before {
      content: "";
      @include svg-arrows();
      background-repeat: no-repeat;
      width: 10px;
      height: 10px;
      display: block;
      position: absolute;
      left: 0;
      top: 0.5em;
    }

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 1em;
    }
  }

  .col:last-child {
    position: relative;

    .extra-padding {
      padding-left: 5em;
    }

    &::before {
      background: #f4f4f4;
      content: "";
      position: absolute;
      width: 100vw;
      top: 0;
      display: block;
      height: 100%;
      z-index: -1;
    }
  }
}
