.home-module-1 {
  h1 {
    font-family: "Oswald", sans-serif;
    color: $sherpa-secondary-color;
    font-weight: 600;
    font-size: 78px;
    position: relative;
    padding-bottom: 0.5em;
    z-index: 0;
    margin-bottom: .3em;

    &::before {
      @include gradient();
      content: "";
      position: absolute;
      top: -20vh;
      left: -50vw;
      height: 150%;
      z-index: -1;
      display: block;
      width: 150vw;
    }

    &::after {
      content: "";
      display: block;
      width: 150vw;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: -50vw;
      background: $white;
    }

    span {
      color: $white;
      display: block;
      margin-top: 0.25em;
    }

    span.large {
      font-size: 55px;
    }

    span.small {
      font-size: 28px;
      font-family: "Montserrat", sans-serif;
      margin-top: 0.25em;
      display: block;
    }
  }

  h2 {
    color: $white;
    font-family: "Oswald", sans-serif;
    font-size: 55px;
    font-weight: 600;
    line-height: 1.5;

    span {
      font-size: 28px;
      display: block;
      font-family: "Montserrat", sans-serif;
    }
  }

  h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $white;
    font-family: "Montserrat";
    font-weight: 600;

    &::before {
      content: "";
      display: block;
      width: 85px;
      height: 85px;
      background: url("../img/guarantee.svg") 0 0 no-repeat;
      margin-right: 0.5em;
    }
  }

  p {
    color: $white;
    font-size: 16px;
  }

  .banner {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
  }

  .col:last-child {
    flex: 0;
  }


}
