.ribbon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/build/bg-river.jpg") center center no-repeat;
  background-size: cover;
  height: 294px;

  img {
    margin: 0 auto;
    height: 90px;
  }

  @include media-breakpoint-down(md) {
    img {
      height: 70px;
    }
  }
}
